
* 
{
  margin: 0;
  padding: 0;
    transition: all 1s;
    
}
.over-lay
{
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100vh;
    width: 100vw;
    display: none;
}
#about
{
    background-color: white;
    overflow: hidden;
}

.about img
{
    transition: transform .5s;
}

.img-move
{
    display: flex;
    justify-content: center;
    align-content: center;
    
}

.img-scale:hover{
    transform: scale(1.05);
    opacity:.9;
}
.img-about
{
    overflow: hidden;
}


.img-move img
{
    border-radius: 1%;
    transition: transform .5s;
}
.about-caption h2
{
    color: #EF3D32;
}
#contacts
{
    background-color: white;
    padding-top: 7px;
}

.port1
{
    text-align: center;
    font-size: 25px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #333;
    padding-top: 70px;
}
.line
{
    width: 80px;
    height: 1;
    background-color: red;
    margin: auto;
    margin-top: 10px;
}.line1
{
    width: 170px;
    height: 1;
    background-color: red;
    margin: auto;
    margin-top: 5px;
}.line2
{
    width: 80px;
    height: 1;
    background-color: red;
    margin: auto;
    margin-top: 5px;
}
.form-control
{
    border-radius: 10px;
    border: 1px solid black;
}
.btn-color
{
    background-color: #EF3D32;
    color: white;
}
.btn-color:hover
{
    background-color: #EF3D32;
    color: black;   
}
.copyright
{
    background-color: black;
    text-align: center;
    padding-bottom: 5px;
    
}
.copyright h4
{
    color: white;
    font-size: 13px;
    text-align: center;
    padding-top: 8px;
    padding-left: 20px;
    font-family: 'Open Sans', sans-serif;
}
.fab {
  padding-top: 10px;
  font-size: 20px;
  width: 25px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  margin-top: 5px;
  margin-right: 10px;
}
.icolor
{
    color: white
}
.icolor:hover
{
    color: #EF3D32;
}

#home
{
   
    background-color:#f5f5f5;
    background-size: cover;
    height: 100vh;
    padding-top: 20px;
    padding-bottom: 50px;
    
}

.blood-h1
{
    color: black;

}
.search-form
{
    margin: auto;
}
.form
{
    width:65%;
}
.ico
{
    cursor: pointer;
    color: white;
    position: absolute;
    right: 28%;
    top:30%;
}

.sidenav {
    background-color: white;
}
.sidenav {
    height: 100%;
    width: 0;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 50px;
}
.sidenav a:hover{
    color: black;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: black;
}

.sidenav a {
    padding: 10px 8px 20px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
    color: #EF3D32;
}
#main
{
    position: absolute;
    top: 40%
}



.dark
{
    height: 100%;
    width: 98.5vw;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.91);
    overflow: hidden;
    display: none;
    
    
    
}

#facts
{
  width: 100%;
}
.facts-item h2{
  text-align: center;
}
.facts-layer
{
  padding-top: 10px;
  padding-bottom: 30px;
  background-color: #f5f5f5;
}
.facts-layer h1
{
    color: black;
}
.facts-item
{
  border: gray 1px solid;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  margin: 30px 0px;
  background-color: white;
}
.facts-item h2{
    color: #EF3D32;
  font-size: 48;
}
.facts-item h4{
  color: black;
  font-size: 18px;
}
.facts-item i
{
  color: black;
  font-size: 36px;
  margin-bottom: 10px;
  transition: 1s;
}
.facts-item:hover i
{
    color: #EF3D32;
    transform: scale(1.2,1.2); 
}
.facts-item .i-mod
{
    color: #EF3D32;
  font-size: 36px;
  transition: 1s;
}
.facts-item:hover .i-mod
{
    color: black;  
    transform: scale(1.2,1.2);
}

@media screen and (min-width: 992px) and (max-width: 1200px)
{
  .facts-item{
   height: 250px;
  }
}


.blood-info
{
    background-color:#f5f5f5;
    height: 350px;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
    
}
.item
{
background-color: rgba(238,238,238,0.2);
    position: absolute;
    top:100%;
    width: 100%;
    height: 100%;
    padding: 20px;
    text-align: left;
    
}
.blood-info:hover .item
{
    top:0;
}
.type-blood
{
font-family: 'Dancing Script', cursive ;
font-size: 120px;
color: #FF0809;
font-weight: 700;
padding: 50px; 

    
}
.word
{
    position: absolute;
    top: 15%;
    left:10px;
}
.blood-info:hover .word
{
    top:-100%;
}
  
.tittle-type
    {
        color: white;
        font-size: 100px;
        margin-bottom: 50px;
        font-weight: 400px;
        display: flex;
        justify-content: center;
    }
ul
{
    margin-top: 10px;
    
}
ul li
{
   color: black;
    padding: 3px;
}
@media screen and ( max-width:1200px)
   
{
   
    .word
    {
        left:10px;
    }
    .type-blood
    {
        font-size: 90px;
    }
    .item
    {
        padding: 0px;
    }  
}
@media screen and ( max-width:767px)
   
{
    
    .word
    {
        left:100px;
    }
    .type-blood
    {
        font-size: 150px;
    }
    .item
    {
        padding: 70px;
    }  
}
@media screen and ( max-width:991px)
   
{
    
    .word
    {
        left:0px;
    }
    .type-blood
    {
        font-size: 70px;
    }
    .item
    {
        padding:    0px;
    }  
    .item h3
    {
        font-size: 20px;
    }
    .item ul li
    {
        font-size: 14px;
    }
}

.img-cont
{
    height: 80vh;
    display: flex;
    justify-content: center;

}
body
{
    overflow-x: hidden;
    overflow: hidden;
}
.img-cont
{
    width: 100% !important;
}
.map-img{
    width: 80%;
    height: 300px;
    margin:auto;
    border-radius: 5px;
    margin-bottom: 150px !important;
   
}



#blood-types
{
    padding: 0px;
}
#home h1{
    padding-top: 0px;
}
@media screen and (max-width: 768px)
{
    #home h1 
    {
        margin-top: 20px;
        font-size: 24px;
    }
    #home
    {
        text-align: center !important
    }
    .map-img
    {
        margin-left: auto !;
        height: 200px;
    }
    #main
    {
        top: 38%;
    }
    
}
@media screen and (max-width: 992px)
{
    .ico{
        position: absolute;
        right: 20% !important;
    }
}
.search-form{
    width:40%;
    margin: auto;
    margin-top: 30px;
}
#home h1
{
    margin: auto;
}
.in-search
{
    position: relative;
}
.search-in
{
    position: relative;
}
.ico{
    position: absolute;
    top: 40%;
    right: 28%;
    color: black;
}
#blood-types .row
{
    margin-top: 20px;
}
.blood-info
{
    border-radius: 10px;
}


.btn-sign-up
{
    background-color: #EF3D32;
    color: white;
}
.copyright a
{
    text-decoration: none;
}

/*Donation process*/



#donation-process img
{
width:100%;
height: 300px;
margin-bottom: 20px;
border-radius: 10px;
transition: 1s;
}
#donation-process
{
    background-color: white;
}
.process-item
{
    margin-top: 20px;
    background-color: #f5f5f5;
    position: relative;
    padding-bottom: 10px;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 35px;
    
}
#donation-process img:hover {
    transform: scale(1.1,1.1);
}
.process-item p{
    margin-bottom: 20px;
    margin-left: 10px;
}
.item-number
{
    height: 75px;
    width: 75px;
    border-radius: 5px;
    background-color: #EF3D32;
    position: absolute;
    top:0;
    right: 0;
    display: flex;
    color: white;
    font-size: 30px;
    align-items: center;
    justify-content: center;
}
.process-item h2{
    margin-left: 10px;
}

.process-item:hover h2
{
    color: #EF3D32
}




/* end of donation process*/


#Good-to-know
{
    background-color:#f5f5f5;
}

#join
{
    background-color: #f5f5f5;
}
.login
{
    color: white;
    height: 50px;
    width: 150px;
    background-color: #EF3d32;
    border: none; 
}
.sign
{
    color: white;
    background-color: #EF3d32;
    border: none;
    height: 50px;
    width: 150px;
    
}
.sign a
{
    color: white;
    text-decoration: none;
}
.login a
{
    color: white;
    text-decoration: none;
}


.joinflex
{
    display: flex;
    justify-content: center;
    align-content: center;
}

.login:hover{
    color: #EF3D32;
    border: 1px solid #EF3D32;
    background-color: white
}
.sign:hover{
    color: #EF3D32;
    border: 1px solid #EF3D32;
    background-color: white;
}
#btnUp
{
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 999999;
    display: none;
    height: 50px;
}
.btnup
{
    background-color: #EF3D32;
    font-size: 20px;
    
}
/*loading*/



.rhombus2 {
   
    /*background: #fcfcfc;*/
   
   
    border-radius: 10px;
    height: 75px;
    width: 75px;
   
    display: flex;
    align-items: center;
    justify-content: center;
    animation-delay: 0.9s;
    animation-duration: 0.8s;
    animation-name: pump;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(.26,-0.53,.57,2.32);
}

.rhombus2:before {
    content: "";
    position: absolute;
    background: #EF3D32;
    height: 40px;
    width: 40px;
    z-index: 0;
    margin-top: 15px;
    margin-left: 15px;
    transform: rotate(45deg);
}

.rhombus2 .circle21 {
    content: "";
    position: absolute;
    background: #EF3D32;
    height: 40px;
    width: 40px;
    z-index: 1;
    border-radius: 50%;
    /*animation-direction: alternate;*/
}

.rhombus2 .circle22 {
    content: "";
    position: absolute;
    background: #EF3D32;
    height: 40px;
    width: 40px;
    z-index: 1;
    margin-left: 30px;
    border-radius: 50%;
    /*animation-direction: alternate;*/
}

@keyframes pump {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.1);
    }
}

@keyframes change1 {
    0%,
    25% {
        margin-top: 0px;
        margin-left: 0px;
    }
    50%,
    75% {
        margin-top: 30px;
        margin-left: 30px;
    }
}

@keyframes change2 {
    25%,
    50% {
        margin-top: 30px;
        margin-left: 0px;
    }
    75%,
    100% {
        margin-top: 0px;
        margin-left: 30px;
    }
}


#loading
{
    height: 100vh;
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top:0;
    z-index: 100000000000000000;
    opacity: 1;
    transition: 0.5s ease-out;
}



/* end of loading    */