

.seform
{
    margin-top: 25px;
    border-radius: 5%;
}

.fixmar
{
    margin-top: 150px;
}
.si
{
    
    text-align: center;
    padding-bottom: 30px;
    color: black;
}
.form-control
{   
    width: 400px;
    margin: auto;
    height: 40px;
    margin-bottom: 20px;
    border-radius: 20px;
    
    
}
.fixsign
{
    width: 350px;
}
.form-row
{
    margin: 20px;
    margin: auto;
    text-align: center;
    
}

.btnlogin
{
    height: 40px;
    width: 300px;
    color: white;
    border-radius:20px;
    margin-top: 10px;
    background-color: #EF3D32;
    border: black;
    Outline:none
}

.btnlogin:hover
{
    background-color: white;
    color: #EF3D32;
    border: 1px solid #EF3D32;
}